


        
<h1> Just.BE Candles </h1>
<p><%= link_to 'New Candle', new_candle_path %></p>

<!-- <script>
    $(document).ready(function(){
      $('.carousel').carousel();
      $('.carousel.carousel-slider').carousel({fullWidth: true});
    });
</script> -->



<div class=" ">
  <div class="card">
    <div class="row">
      <div class="col s8 m8 l8">
        <div class="carousel carousel-slider">
          <a class="carousel-item" href="#one!"><img src="https://lorempixel.com/800/400/food/1"></a>
          <a class="carousel-item" href="#two!"><img src="https://lorempixel.com/800/400/food/2"></a>
          <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/800/400/food/3"></a>
          <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/800/400/food/4"></a>
        </div>
      </div>
      <div class="col s4 m4 l4">
        <h3>Our Purpose</h3>
        <p>Lorem Khaled Ipsum is a major key to success. The ladies always say Khaled you smell good, I use no cologne. Cocoa butter is the key. I’m up to something. Cloth talk. The key to more success is to have a lot of pillows. Surround yourself with angels, positive energy, beautiful people, beautiful souls, clean heart, angel. Congratulations, you played yourself. The key to more success is to have a lot of pillows. Special cloth alert. Hammock talk come soon.
        </p>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
        <% @candles.each do |candle| %>
          <div>
            <div class="col s12 m6 l4 card deep-purple lighten-3 hoverable">
              <div class="card-content white-text">
                <h2 class="center"><%= candle.title %></h2>
                <h5 class="center"><%= candle.body %></h5>
                <h5 class="center">$<%= candle.price %></h5>
                  <div class="row">
                    <hr>
                    <div class="col s4 center">
                      <%= link_to 'Show', candle_path(candle) %>
                    </div>
                    <div class="col s4 center">
                      <%= link_to 'Edit', edit_candle_path(candle) %>
                    </div>
                    <div class="col s4 center">
                      <%= link_to 'Destroy', candle, method: :delete %>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        <% end %> 
  </div>
</div>