<h1> Just.BE Candles </h1>
<p><%= link_to 'New Candle', new_candle_path %></p>


<div class="container">
  <div class="">
        <% @candles.each do |candle| %>
          <div class="col s12 m4">
            <div class="card deep-purple lighten-3 hoverable">
              <div class="card-content white-text">
                <h2 class="center"><%= candle.title %></h2>
                <h5 class="center"><%= candle.body %></h5>
                <h5 class="center"><%= candle.price %></h5>
                  <div class="row">
                    <hr>
                    <div class="col s4 center">
                      <%= link_to 'Show', candle_path(candle) %>
                    </div>
                    <div class="col s4 center">
                      <%= link_to 'Edit', edit_candle_path(candle) %>
                    </div>
                    <div class="col s4 center">
                      <%= link_to 'Destroy', candle, method: :delete %>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        <% end %> 
  </div>
</div>