  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <%= link_to 'Our Purpose', our_purpose_path %>  
        </li>
        <li>
          <%= link_to 'Product', product_path %>
        </li>
        <li>
          <%= link_to 'Blog', blog_path %>
        </li>
        <li>
          <%= link_to 'Giving Back', giving_back_path %>
        </li>
        <li>
          <%= link_to 'Near You', near_you_path %>
        </li>
        <li>
          <%= link_to 'Contact', contact_path %>
        </li>
      </ul>
    </div>
  </nav>